body {
    margin: 0;
    background: #AED8E9;
    font-size: 1.8em;
    font-family: 'Raleway',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

h1,h2,h3,h4 {
    font-family: 'Amatic SC';
}

h1 {
    font-size: 75px;
    font-weight: 700;
}

h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 25px;
}

h4 {
    font-size: 25px;
    font-weight: 700;
}

a, a:visited {
    color: #008DC1;
}

a:hover {
    color: #003B62;
}

ul {
    text-align: left;
}

#view {
    background-color: #fafafa;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
}

#claim {
    overflow: hidden;
}

#claim > h1,h4 {
    color: white;
}

#uk {
    background-image: url('../images/ukg.jpg');
    background-size: cover;
    background-position: left 5px;
    background-repeat: no-repeat;
    min-height: 500px;
}

.content {
    padding: 0 20px;
    text-align: center;
}

.head {
    height: 120px;
    text-align: center;
}

.blue {
    background: #00A1D2;
}

.darkblue {
    background: #008DC1;
}

.lightblue {
    background-color: #AED8E9;
}

.gray {
    background: #A2AEB2;
}

.purple {
    background: #8614A6;
}

.centered {
    text-align: center;
}

@media (min-width: 768px) {
    .head {
        height: 200px;
        text-align: center;
    }

    h1 {
        font-size: 90px;
        font-weight: 700;
    }

    h2 {
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 25px;
    }

    h4 {
        font-size: 35px;
        font-weight: 700;
    }

    #view {
        background-color: #fafafa;
        margin-top: 40px;
        margin-bottom: 40px;
        padding-left: 0;
        padding-right: 0;
        min-height: 800px;
        box-shadow: 0 0 15px 5px rgba(0,0,0,0.22);
    }
}
